@font-face {
    font-family: Babes;
    src: url("../fonts/BebasNeueCyrillicRegular.ttf");
}

* {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Babes;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 100%;
}

.landing_logo {
    width: 650px;
    height: 650px;
    background-color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
}


.landing span {
    width: 1085px;
    height: 121px;
    text-align: center;
    color: #FFFFFF;
    font-size: 48px;
    line-height: 58px;
}

.landing_btn {
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.landing_btn img {
    width: 60px;
    height: 60px;
}
